.blackout {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #ccc;
    opacity: .8;
    display:none;
    z-index: 1;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


a {
    text-decoration: none;
    color: #000 !important;
    font-weight: bold;
    cursor:pointer;
}


ul li {
    font-weight: bold;
    font-size: .9rem;
    position: relative;
}

.header-animal {
    padding: 1.5em 2.5em;
    box-shadow: 5px 5px 20px 3px #0001;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.list-items-animal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.list-items-animal {
    list-style: none;
}

a:hover {
    text-decoration: none !important;
}


#container {
    margin: 5rem auto !important;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

button {
    outline: none;
    border: none;
    padding: .5em 2.4em;
    background-color: #DBD56E;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px !important;
}

#card-1 {
    padding: 1em 2em;
}

.card-title {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
}